@using Onetez.Web.Modules
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SeoTitle = "";
}
@section Javascript{
}

<div class="title has-text-centered is-uppercase" style="padding: 200px 0px;">
  @TextData.Get("Phần mềm hỗ trợ xử lý đơn hàng")
</div>