@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SeoTitle = "Không tìm thấy trang";
    string url = Request.QueryString["url"] != null ? Request.QueryString["url"] : "/";
}

<div class="columns is-centered is-vcentered" style="height: 100%;">
    <div class="column is-narrow" style="width: var(--form-small)">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <div class="has-text-centered" style="width: 100%;">
                        @ViewBag.SeoTitle
                    </div>
                </div>
            </div>
            <div class="card-content is-centered">
                <div class="has-text-centered">
                    <div class="title is-size-1 has-text-weight-bold">404</div>
                    <div>
                        <i class="s5em feather icon-search"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="card-footer-item" href="@url">Thử lại</a>
                <a class="card-footer-item" href="/">Trang chủ</a>
            </div>
        </div>
    </div>
</div>